.reason {
    margin-left: 3%;
}
.dream {
    margin-left: 2.5%;
}
h2{
    text-align: center;
}
body {
    font-family: Arial,Helvetica,sans-serif;
	line-height: 1.6;
}
fieldset {
	background-color: #f4f4f4;
}

